.search-input {
  padding: 5px 10px;
  height: 20px;
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
}

.search-input > .search-input-string {
  font-size: 14px;
  flex-grow: 1;
}

.search-input > .search-input-button {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  background-color: rgb(87, 158, 199);
}

.search-input > .search-input-button:hover {
  cursor: pointer;
}

.search-input > .search-input-button i {
  font-size: 10px;
  color: white;
}

.search-input > .search-input-button:last-of-type {
  margin-right: 0;
}
