.area-information {
  width: 300px;
  font-size: 12px;
  line-height: 14px;
}

.area-information > .area-information-list > .list-element {
  padding-bottom: 4px;
}

.area-information > .area-information-list > .list-element:last-of-type {
  padding-bottom: 0;
}

.area-information > .area-information-list > .area-information-operations {
  display: flex;
}

.area-information
  > .area-information-list
  > .list-element-operations
  > .area-information-operation {
  color: blue;
  box-shadow: inset 0 -1px 0 0 rgba(25, 29, 248, 0.5);
  margin-right: 0.5em;
}

.area-information
  > .area-information-list
  > .list-element-operations
  > .area-information-operation {
  cursor: pointer;
}
