.map-legend {
  max-height: 240px;
  min-height: 240px;
  width: 280px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 4px;
}

.map-legend > .map-legend-header {
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 10px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.map-legend > .map-legend-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  width: 12px;
  height: 12px;
  line-height: 8px;
  border-radius: 100%;
  background-color: #0081C7;
}

.map-legend > .map-legend-close-button:hover {
  cursor: pointer;
}

.map-legend > .map-legend-close-button i {
  font-size: 10px;
  margin: 0 auto;
  color: white;
}

.map-legend > .map-legend-list {
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  padding-left: 5px;
  padding-right: 5px;
}

.map-legend > .map-legend-list > .map-legend-list-element {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
