.content {
  position: relative;
  display: grid;
  grid-template-rows: [content-main-start] auto [content-main-end content-footer-start] 20px [content-footer-end];
  grid-template-columns: [content-start sidebar-start] 350px [sidebar-end content-container-start] auto [content-container-end content-end];
}

.content > .content-sidebar {
  grid-row: content-main-start / content-main-end;
  grid-column: sidebar-start / sidebar-end;
  border-right: 1px solid black;
}

.content > .content-container {
  grid-row: content-main-start / content-main-end;
  grid-column: content-container-start / content-container-end;
}

.content > .content-footer {
  grid-row: content-footer-start / content-footer-end;
  grid-column: content-start / content-end;
  background-color: #0081C7;
}