.flag-drop-list {
  position: relative;
  display: flex;
  align-items: center;
}

.flag-drop-list > .flag-drop-list-button {
  position: relative;
  top: 4px;
  border-bottom: 7px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #AFAFAF;
  margin-left: 0.4em;
}

.flag-drop-list > .flag-drop-list-button:hover {
  cursor: pointer;
}

.flag-drop-list > .flag-drop-list-options {
  position: absolute;
  right: 0;
  top: 14px;
  min-width: 150px;
  z-index: 1000002;
}

.flag-drop-list > .flag-drop-list-options:focus {
  outline: none;
}

.flag-drop-list > .flag-drop-list-options .flag-drop-list-option {
  width: 100%;
  height: 26px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.flag-drop-list > .flag-drop-list-options .flag-drop-list-option input {
  margin-right: 5px;
}

.flag-drop-list > .flag-drop-list-options .flag-drop-list-option-choosed {
  background-color: rgba(0, 0, 0, 0.075);
}

.flag-drop-list > .flag-drop-list-options .flag-drop-list-option:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075);
}
