.header {
  width: 100%;
  background-color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header > .header-container {
  width: 1170px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.header > .header-container > .icons {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 13px;
}

.header > .header-container > .icons > .icon {
  padding-right: 10px;
}

.header > .header-container > .contacts {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  font-size: 13px;
}

.header > .header-container > .contacts > .contact {
  margin-right: 20px;
}

.header > .header-container > .contacts > .contact > .contact-icon {
  display: inline-block;
  padding-right: 5px;
}
