.map-information {
  height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.map-information > .map-information-button {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 100%;
  background-color: white;
}

.map-information > .map-information-button:hover {
  cursor: pointer;
}
