.entity-information {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}


.entity-information > .entity-information-objects-information {
  position: relative;
  display: flex;
  left: 0;
}

.entity-information > .entity-information-objects-information-inactive {
  visibility: hidden;
  pointer-events: none;
}

.entity-information > .search-active {
  left: 0;
  transition: left 0.25s ease 0.1s;
}

.entity-information > .object-details-active {
  left: -350px;
  transition: left 0.25s ease 0.1s;
}

.entity-information > .entity-information-block {
  padding: 20px 10px;
  position: absolute;
  width: 350px;
  left: 0;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
  background-color: white;
}

.entity-information > .entity-information-block-inactive {
  left: -350px;
  transition: left 0.25s;
}

.entity-information > .entity-information-block-active {
  left: -0px;
  transition: left 0.25s;
}
