.entity-information {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.entity-information > .entity-information-block {
  padding: 10px;
  position: absolute;
  width: 350px;
  left: 0;
  top: 0;
  bottom: 0;
  flex-shrink: 0;
  box-shadow: 1px 0px 3px rgba(0,0,0,0.5);
}

.entity-information > .entity-information-block-inactive {
  left: -352px;
  transition: left 0.6s;
}

.entity-information > .entity-information-block-active {
  left: -0px;
  transition: left 0.6s;
}
