.area-editor {
  min-width: 350px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.area-editor > .area-editor-header {
  height: 30px;
  line-height: 20px;
  font-size: 14px;
  padding: 5px 10px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.area-editor > .area-editor-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 4px;
  width: 12px;
  height: 12px;
  line-height: 8px;
  border-radius: 100%;
  background-color: #0081C7;
}

.area-editor > .area-editor-close-button:hover {
  cursor: pointer;
}

.area-editor > .area-editor-close-button i {
  font-size: 10px;
  margin: 0 auto;
  color: white;
}

.area-editor > .area-editor-props-list {
  flex-grow: 1;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.area-editor > .area-editor-props-list > .area-editor-props-list-element {
  line-height: 14px;
  padding-top: 5px;
  padding-bottom: 7px;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.area-editor > .area-editor-controls {
  flex-shrink: 0;
  height: 30px;
  font-size: 14px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.area-editor > .area-editor-controls > .area-editor-control {
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  font-size: 12px;
  color: white;
  border-radius: 4px;
  background-color: rgb(87, 158, 199);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.area-editor > .area-editor-controls > .area-editor-control:last-child {
  margin-right: 0;
}

.area-editor > .area-editor-controls > .area-editor-control:hover {
  cursor: pointer;
}

.area-editor > .area-editor-controls > .area-editor-weak-control {
  line-height: 14px;
  color: blue;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 12px;
  box-shadow: inset 0 -1px 0 0 rgba(25, 29, 248, 0.5);
}

.area-editor > .area-editor-controls > .area-editor-weak-control:last-child {
  margin-right: 0;
}

.area-editor > .area-editor-controls > .area-editor-weak-control:hover {
  cursor: pointer;
}