.search {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.search > .search-input-area {
  flex-shrink: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.search > .search-found-area {
  margin-top: 5px;
}